@use "../../scss/partials" as *;

.ratings {
  gap: 1em;
  margin-top: 2em;
}

.ratings__item {
  flex: 1;
  color: hsl($light-gray);

  background-color: hsl(209, 19%, 22%);
  border-radius: 50%;
  aspect-ratio: 1;
  border: 0;

  transition: color 150ms ease-in-out;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: hsl($light-gray);
    color: hsl($white);
  }
}

.ratings__item--active {
  background-color: red;
}

button.active {
  background-color: hsl($primary-color);
  color: hsl($white);
}
