.attribution {
  place-items: center;
  bottom: 2%;

  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.2em;
}

.attribution.attribution--dark {
  color: white;
}

.attribution {
  .attribution__link {
    color: hsl(0, 0%, 35%);
  }  
}

// .attribution a:visited {
//   color: hsl(0, 0%, 35%);
// }

.attribution__designer,
.attribution__programmer {
  font-size: 1.2rem;
  margin-top: 0.5em;
}

.tech {
  display: inline-block;
}
@media (min-width: 50em) {
  .attribution a:hover {
    color: hsl(216, 95%, 58%);
  }
}
