@use "../../scss/partials/" as *;

.rating-card {
  background-color: hsl($dark-blue);
  width: min(100% - 2rem, 28em);
  min-height: 38rem;

  padding: 1.5em 2em;
  border-radius: 2.5rem;

  & > * + * {
    margin-top: 0.8em;
  }
}

.rating-card__icon {
  background-color: hsl(209, 19%, 22%);
  padding: 0.8em;
  border-radius: 50%;
}

.rating-card__title {
  font-weight: 700;
  margin-top: 1em;
}

.rating-card__text {
  color: hsl($light-gray);
  width: 100%;
}

.rating-card__btn {
  background-color: hsl($primary-color);
  width: 100%;
  height: 4rem;
  color: hsl($white);

  border: 0;
  border-radius: 2rem;
  margin-top: 2.2em;
  padding-block: 1.5em;

  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: hsl($white);
    color: hsl($primary-color);
  }
}

.rating-card__thanks {
  padding-top: 1em;
}

.rating-card__rating {
  margin-top: 1.6em;
  margin-bottom: 2em;
  padding: 0.5em 0.75em;
  width: 60%;

  color: hsl($primary-color);
  background-color: hsl($very-dark-blue);
  border-radius: 2em;
}

.rating-card__title--thanks,
.rating-card__rating {
  text-align: center;
}

.rating-card__text[data-thanks="true"] {
  text-align: center;
  width: 100%;
  margin-top: 1em;
}

.rating-card__restart {
  place-items: center;
  margin-top: 1em;

  svg {
    font-size: 3.5rem;
    fill: hsl($primary-color);
  }
}
