@use "../../scss/partials/" as *;

.rating-card-thanks {
  // background-color: hsl($dark-blue);
  background-image: linear-gradient(
    152deg,
    hsl($dark-blue),
    hsl($very-dark-blue)
  );
  // background: linear-gradient(#e66465, #9198e5);
  width: min(100% - 2rem, 28em);
  min-height: 42.8rem;

  padding: 2.3em 2em;
  border-radius: 2.5rem;
}

.rating-card-thanks__rating {
  margin-top: 1.6em;
  margin-bottom: 2em;
  padding: 0.5em 0.75em;
  width: 60%;

  color: hsl($primary-color);
  background-color: hsl($dark-blue);
  border-radius: 2em;
}

.rating-card-thanks__title,
.rating-card-thanks__rating {
  text-align: center;
}

.rating-card-thanks__text {
  text-align: center;
  width: 100%;
  margin-top: 1em;
  color: hsl($medium-gray);
}

.rating-card-thanks__restart {
  place-items: center;
  margin-top: 0.5em;

  svg {
    font-size: 3.5rem;
    fill: hsl($primary-color);
  }
}
