@use "./partials" as *;
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $overpass;
  font-size: $base-font;

  background-color: hsl($very-dark-blue);
  color: hsl($white);
}

main {
  min-height: 100vh;
  overflow: hidden;
}

// utility classes
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  place-items: center;
}

.center {
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}
